SERVICE_PASSWORD_POSTGRES=your-password-for-postgresql
SERVICE_USER_POSTGRES=you-postgresql-superuser-name
POSTGRES_DB=grafana
POSTGRES_PASSWORD=$SERVICE_PASSWORD_POSTGRES
POSTGRES_USER=$SERVICE_USER_POSTGRES
